table {
  width: 100%;
}
.mat-header-row {
  background-color: #2bae66ff;
}
.mat-row {
  background-color: #fcf6f5ff;
}

button {
  margin: 0px 5px;
}
mat-cell,
mat-header-cell {
  max-width: 10%;
}

mat-form-field {
  max-width: 90%;
}

